{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加作者</title>
     <link rel="stylesheet" href="{% static "add.css" %}">

</head>
<body>

    <div class="add">
         <form action="/add_author/" method="post">
            {% csrf_token %}
          <table  width="100%" border="1px" cellpadding="5px" cellspacing="0px" >
          <tr bgcolor="#6495ed" >
            <td height="30px" >
                <font size="6px" text-align:center>增加作者</font>
            </td>
        </tr>
          <tr>
              <td>
                      <p>
            作者姓名: <input type="text" name="author_name">
        </p>

        <p>
            作品：
            <select multiple name="books" id="">
                {% for book in book_list %}
                <option value="{{ book.id }}">
                    {{ book.title }}
                </option>
                {% endfor %}
            </select>

        </p>
        <p>
            <input type="submit" value="提交">
        </p>
              </td>
          </tr>

         </table>

    </form>
    </div>

</body>
</html>